body {
    font-family: 'Open Sans', sans-serif;
    background-color: #212121;
}
.navbar {
    background-color: #121212;
}

/* material text colors */
.text-white-primary {
    color: #FFFFFF;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,155,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn {
    background-color: rgb(187,134,252);
    color: #000000;
}

.btn:hover{
    background-color: rgba(187,134,252,0.6)
}
.btn:focus{
    background-color: rgba(187,134,252,0.6)
}

.btn-secondary {
    background-color: rgb(207,102,121);
    color: #000000;
}

.btn-secondary:hover{
    background-color: rgba(207,102,121, 0.6)
}
.btn-secondary:focus{
    background-color: rgba(207,102,121, 0.6)
}

.white-checkbox {
    background-color: #FFFFFF;
}
tr, td {
    white-space: nowrap;
}
table {
    background-color: rgba(0, 0, 0, 0.2);
}

.form-control {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

a.custom-card,
a.custom-card:hover,
a.custom-card:focus {
  color: inherit;
  text-decoration: none;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}